/* here is the css for the mainpage excluding the navbar */ 

body {
	 background-image: url("../img/windows.jpg");
	 background-size: 1200px 720px;
}

.confiletters {
     font-family: 'Lato', sans-serif;
}

/* auta mallon dromo 
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

section {
  margin-bottom: 60px;
  padding: 30px;
  background-color: #ff8080;
}
section:last-child {
  margin-bottom: 0;
}
*/

.style-4 input[type="text"] {
  display: block;
  margin: 0;
  width: 70%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}

.style-4 input[type="text"]:focus,
.style-4 input[type="text"].focus {
  outline: none;
  border-bottom: solid 2px #969696;
}