.flexcontainer {
	background-color: rgb(89, 89, 89, 0.7);
	/* background-color: #99e6ff; */
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flexleft {
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.flexright {
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
}

.genbutton {
	/* background-color: inherit; */
	background-color: rgb(89, 89, 89, 1);
    color: white;
    padding: 14px 25px;
    margin: 8px;
    border: none;
    cursor: pointer;
}

.genbutton:hover {
	background-color: rgb(89, 89, 89, 0.4); /*white the opacity of 0.4*/
}

.change_gen:hover {
	background-color: white;
	color: #ff8080;
}

.loginflex {
	/* background:rgba(89, 89, 89, 0.3); */
	/* background-color: #99e6ff; */
	display: flex;
	flex-direction: column;
    flex-wrap: nowrap;
    /* justify-content: center; */
    /* align-items: center; */
}

 /* Background of login */
.login {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Style of the form */
.login-form {
    background-color: rgba(254, 254, 254, 0.4);
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
}

.login-field {
	height: 30px;
	/* margin: 0 0 8px; */
}

.login-label {
	/* margin: 8px 0 0; */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
} 